@yellow:#fffa19;
@rojo: #f03f0a;
@verde: #00cc1b;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @rojo;
    .margenes(10px, 0px);
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);}
  
  .btn-reserva {
    background-color: @verde;
    width: 100%;
    border-radius: 0px; }
  
  .footer-addres-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }